/src/Liliya.AutoMapper/bin
/src/Liliya.AutoMapper/obj
/src/Liliya.Consul/bin
/src/Liliya.Consul/obj
/src/Liliya.Core.API/bin
/src/Liliya.Core.API/Logs
/src/Liliya.Core.API/obj
/src/Liliya.Dto/bin
/src/Liliya.Dto/obj
/src/Liliya.Models/bin
/src/Liliya.Models/obj
/src/Liliya.Serilog/bin
/src/Liliya.Serilog/obj
/src/Liliya.Services/bin
/src/Liliya.Services/obj
/src/Liliya.Shared/bin
/src/Liliya.Shared/obj
/src/Liliya.SqlSugar/bin
/src/Liliya.SqlSugar/obj
/src/Liliya.Swagger/bin
/src/Liliya.Swagger/obj
/src/Liliya.Test/bin
/src/Liliya.Test/obj
/.vs
/src/Liliya.Redis/obj
/src/Liliya.Redis/bin
/src/Liliya.Common/bin
/src/Liliya.Common/obj
/src/Liliya.WebSockets/bin
/src/Liliya.WebSockets/obj
