/新建文件夹
/src/AkliaJob.AutoMapper/obj
/src/AkliaJob.AutoMapper/bin
/src/AkliaJob.Center.Web/bin
/src/AkliaJob.Center.Web/obj
/src/AkliaJob.Center.Web/Logs
/src/AkliaJob.Consul/bin
/src/AkliaJob.Consul/obj
/src/AkliaJob.Dto/bin
/src/AkliaJob.Dto/obj
/src/AkliaJob.Models/obj
/src/AkliaJob.Models/bin
/src/AkliaJob.Repository/bin
/src/AkliaJob.Repository/obj
/src/AkliaJob.Serilog/obj
/src/AkliaJob.Serilog/bin
/src/AkliaJob.Services/bin
/src/AkliaJob.Services/obj
/src/AkliaJob.Shared/bin
/src/AkliaJob.Shared/obj
/src/AkliaJob.SqlSugar/bin
/src/AkliaJob.SqlSugar/obj
/src/AkliaJob.Swagger/bin
/src/AkliaJob.Swagger/obj
/src/AkliaJob.TaskService/obj
/src/AkliaJob.TaskService/bin
/src/AkliaJob.Test/bin
/src/AkliaJob.Test/obj
